body {
  /*background-image: url(http://www.rogerwermers.com/images/aged-background2.jpg);*/
  background-image: url(../img/paper-background.jpg);
  background-size: cover;
  margin-left: 75px
}

h2 {
  font-size: 3em;
  color: black;
  font-family: 'Special Elite', cursive;
}

button {
  background-color: stone;
  background-repeat:no-repeat;
  border-radius: 8px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  font-family: 'Special Elite', cursive;
  font-size: 1.5em;
  margin-right: 15px;
}

form {
  display: inline-block;
}

input{
  font-size: 1.5em;
  font-family: 'Special Elite', cursive;
  width: 80px;
  height: 40px;
  cursor:pointer;
  overflow: hidden;
  outline:none;
  border: 1px solid;
  border-radius: 8px;
  background-color: transparent;
  background-repeat:no-repeat;
  padding-left: 15px;

}
.card {
  float: left;
  border: solid 1px black;
  width: 150px;
  border-radius: 10px;
  height: 210px;
  margin-right: 20px;
  background-color: white;
  opacity: .9;
}

.covered {
  background-image: url(./img/tarot/back.png);
}

.hand {
  overflow: auto;
}

.winner {
  color: green;
}

.loser {
  color: red;
}

